@import '../../sass/boot/utils/index';


.wrap {
    margin: 0 20px;
    padding-top: 3px;
}

.icon {
    float: left;
    margin-right: 12px;
    margin-top: 1px;

    svg path {
        fill: $color_grey;
        opacity: 0.4;
    }
}

p {
    font-weight: bold;
}

.link {
    color: $color_dark_red;
    margin-left: 5px;
    text-decoration: underline;
}