@import '../../sass/boot/utils/index';


.wrap {
    margin: 0 20px;
    padding-top: 3px;
}

.icon {
    float: left;
    margin-right: 12px;
    margin-top: 1px;
}

.link {
    font-weight: bold;
    color: $color_dark;
}