@import '../../sass/boot/utils/index';


.order-steps {

}

.title {
    font-size: rem($font_size_md);
    font-weight: normal;
    text-align: center;
}

.wrap {
    background-color: #fff;
    padding: 32px 0;
    margin-top: 56px;
}

.list-item {
    width: size(4);
    margin: $gutter;
}