.search-input {
    position: relative;
}


.input input {
    // display: inline-block;
    margin: 0;
    border-radius: 50px !important;
    
}

.btn {
    position: absolute;
    top: 2px;
    border-radius: 50px;
    right: 2px;
    height: 36px;
}