@import '../../sass/boot/utils/index';
 
.wrap {
    position: relative;
    min-height: 296px;
    margin-top: -56px;
    background: url('../../assets/img/opening_bg.jpg') no-repeat center center;
    background-size: cover;

     
}


.inner {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;    
}

.content {
    width: 100%;
}


.search-region {
    width: size(5);
}



.title {
    font-size: rem($font_size_md);
    color: #fff;
    line-height: 120%;
    text-shadow: 0 3px 5px rgba($color: $color_dark, $alpha: 0.25);
    margin: 0;
    margin-bottom: 24px;
}