



@font-face {
  font-family: 'StyreneAWeb';
  src: url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Regular.eot');
  src: local('StyreneAWeb Regular'), local('StyreneAWeb-Regular'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Regular.eot?#iefix') format('embedded-opentype'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Regular.woff2') format('woff2'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Regular.woff') format('woff'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'StyreneAWeb';
  src: url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Black.eot');
  src: local('StyreneAWeb Black'), local('StyreneAWeb-Black'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Black.eot?#iefix') format('embedded-opentype'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Black.woff2') format('woff2'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Black.woff') format('woff'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'StyreneAWeb';
  src: url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Medium.eot');
  src: local('StyreneAWeb Medium'), local('StyreneAWeb-Medium'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Medium.eot?#iefix') format('embedded-opentype'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Medium.woff2') format('woff2'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Medium.woff') format('woff'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'StyreneAWeb';
  src: url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Bold.eot');
  src: local('StyreneAWeb Bold'), local('StyreneAWeb-Bold'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Bold.eot?#iefix') format('embedded-opentype'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Bold.woff2') format('woff2'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Bold.woff') format('woff'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'StyreneAWeb';
  src: url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Light.eot');
  src: local('StyreneAWeb Light'), local('StyreneAWeb-Light'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Light.eot?#iefix') format('embedded-opentype'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Light.woff2') format('woff2'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Light.woff') format('woff'),
      url('../../../assets/fonts/StyreneAWeb/StyreneAWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}








// Icon Fonts


@font-face {
  font-family: 'GlyphsMain';
  src:  url('../../../assets/fonts/GlyphsMain/GlyphsMain.eot?twatn8');
  src:  url('../../../assets/fonts/GlyphsMain/GlyphsMain.eot?twatn8#iefix') format('embedded-opentype'),
    url('../../../assets/fonts/GlyphsMain/GlyphsMain.ttf?twatn8') format('truetype'),
    url('../../../assets/fonts/GlyphsMain/GlyphsMain.woff?twatn8') format('woff'),
    url('../../../assets/fonts/GlyphsMain/GlyphsMain.svg?twatn8#GlyphsMain') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="glyph-"], [class*=" glyph-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'GlyphsMain' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.glyph-nav-arrow-left:before {
  content: "\e907";
}
.glyph-nav-arrow-right:before {
  content: "\e908";
}
.glyph-close:before {
  content: "\e900";
}
.glyph-placeholder2:before {
  content: "\e901";
}
.glyph-rate_star:before {
  content: "\e902";
}
.glyph-social_ig:before {
  content: "\e903";
}
.glyph-social_tg:before {
  content: "\e904";
}
.glyph-social_vk:before {
  content: "\e905";
}
.glyph-warning:before {
  content: "\e906";
}
